<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Use correct character set. -->
    <meta charset="utf-8" />
    <!-- Tell IE to use the latest, best version. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title>DataCity</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../../static/hmap/Cesium/Cesium.js"></script>
    <style>
        /*      @-moz-document url-prefix() {
        fieldset { display: table-cell; }
      };*/
        
        @import url(../../static/hmap/Cesium/Widgets/widgets.css);
        html,
        body,
        #cesiumContainer {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
        .container {
            width: 150px;
            top: 10%;
            position: absolute;
            z-index: 1;
            font-size: 15px;
            float: left;
            background-color: rgba(187, 255, 255, 0.5);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="index.html">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">DataCity <span class="sr-only">(current)</span></a></li>
                    <!-- <li><a href="#">Link</a></li> -->
                </ul>
            </div>
        </div>
    </nav>
    <div id="latlng_show" style="width:120px;height:120px;position:absolute;top:75%;right:0%;z-index:1;font-size:15px;">
        <div style="width:100px;height:40px;float:left;">
            <font size="2" color="white">经度：<span id="longitude_show"></span></font>
        </div>
        <div style="width:100px;height:40px;float:left;">
            <font size="2" color="white">纬度：<span id="latitude_show"></span></font>
        </div>
        <div style="width:100px;height:40px;float:left;">
            <font size="2" color="white">视角高：<span id="altitude_show"></span>km</font>
        </div>
    </div>
    <div class="container thumbnail">
        <form>
            <div class="checkbox ">
                <label>
          <input type="checkbox" value="" onclick="checkboxOnclick1(this)">
          3DTile-building
        </label>
                <label>
          <input type="checkbox" value="" onclick="checkboxOnclick2(this)">
          3DTile-business
        </label>
                <label>
          <input type="checkbox" value="" onclick="checkboxOnclick3(this)">
          3DTile-house
        </label>
                <label>
          <input type="checkbox" value="" onclick="checkboxOnclick4(this)">
          3DTile-industry
        </label>
                <label>
          <input type="checkbox" value="" onclick="checkboxOnclick5(this)">
          3DTile-village
        </label>
                <label>
          <input type="checkbox" value="" onclick="checkboxOnclick6(this)">
          3DTile-public
        </label>
            </div>
        </form>
    </div>
    <div id="cesiumContainer"></div>
    <script>
        var url = "http://mt1.google.cn/vt/lyrs=s&hl=zh-CN&x={x}&y={y}&z={z}&s=Gali";
        Cesium.Ion.defaultAccessToken = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJkNjkyNjYzMC00MTc0LTQ0NGMtOWMxOS01YTViYmQ2OTMzZDIiLCJpZCI6MjEwNywiaWF0IjoxNjAzMjQ4NjMxfQ.AqimDfC_A3bi48iLej1DtkH24b0lGP8aZx-UTnHyCx4";
        var viewer = new Cesium.Viewer("cesiumContainer", {
            animation: false, // 是否显示动画控件
            shouldAnimate: false, // 是否初始时刻运动
            homeButton: true, // 是否显示Home按钮
            fullscreenButton: true, // 是否显示全屏按钮
            baseLayerPicker: false, // 是否显示图层选择控件 去掉自带的图层选择器
            geocoder: true, // 是否显示地名查找控件,设置为true，则无法查询
            timeline: false, // 是否显示时间线控件
            sceneModePicker: false, // 是否显示投影方式控件 三维/二维
            navigationHelpButton: false, // 是否显示帮助信息控件
            infoBox: true, // 是否显示点击要素之后显示的信息 信息框小部件
            requestRenderMode: false, // true启用请求渲染模式:更新实体需拖动地图 视图才更新[true 加载完entity后requestRender一下]
            scene3DOnly: false, // 每个几何实例将只能以3D渲染以节省GPU内存 如果设置为true，则所有几何图形以3D模式绘制以节约GPU资源
            sceneMode: 3, // 初始场景模式 1 2D模式 2 2D循环模式 3 3D模式  Cesium.SceneMode
            fullscreenElement: document.body, // 全屏时渲染的HTML元素
            selectionIndicator: false, // 是否显示选取指示器组件
            imageryProvider: new Cesium.UrlTemplateImageryProvider({
                url: url
            }),
            //terrainProvider: Cesium.createWorldTerrain(), // 注释时相当于使用默认地形，解开注释相当于使用全球地形[世界地形数据]
        });
        viewer._cesiumWidget._creditContainer.style.display = "none";
        var handler = new Cesium.ScreenSpaceEventHandler(viewer.scene.canvas);
        var tileset1 = viewer.scene.primitives.add(
            new Cesium.Cesium3DTileset({
                url: Cesium.IonResource.fromAssetId(171718),
            })
        );

        var tileset = new Cesium.Cesium3DTileset({
            url: "../../static/hmap/data/ALLbuilding/tileset.json",
        });
        var tileset_business = new Cesium.Cesium3DTileset({
            url: "../../static/hmap/data/business/tileset.json",
        });
        var tileset_house = new Cesium.Cesium3DTileset({
            url: "../../static/hmap/data/house/tileset.json",
        });
        var tileset_industry = new Cesium.Cesium3DTileset({
            url: "../../static/hmap/data/industry/tileset.json",
        });
        var tileset_village = new Cesium.Cesium3DTileset({
            url: "../../static/hmap/data/village/tileset.json",
        });
        var tileset_public = new Cesium.Cesium3DTileset({
            url: "../../static/hmap/data/public/tileset.json",
        });

        function checkboxOnclick1(checkbox) {

            if (checkbox.checked == true) {
                //viewer.scene.primitives.add(tileset);
                // tileset.readyPromise.then(zoomToTileset);
                tileset.readyPromise.then(function(tileset) {
                    viewer.scene.primitives.add(tileset);
                    // viewer.flyTo(tileset, new Cesium.HeadingPitchRange(0.5, -0.2, tileset.boundingSphere.radius * 1.0));
                    viewer.camera.flyTo({
                        destination: Cesium.Cartesian3.fromDegrees(106.7159, 26.5744, 4200.0)
                    });
                }).otherwise(function(error) {
                    console.log(error);
                });
                tileset.style = new Cesium.Cesium3DTileStyle({
                    color: {
                        conditions: [
                            ['${lc} >= 30 ', 'rgb(224, 226, 238)'],
                            ['${lc} >= 12 && ${lc} <29', 'rgb(224, 226, 238)'],
                            ['${lc} >= 7 && ${lc} <12', 'rgb(252, 230, 200)'],
                            ['${lc} >= 3 && ${lc} <7', 'rgb(248, 176, 87)'],
                            ['${lc} >= 1 && ${lc} < 3', 'rgb(198, 106, 11)'],
                            ['true', 'rgb(127, 59, 8)']
                        ]
                    }
                });
                tileset.show = true;
            } else {
                tileset.show = false;
                //tileset.readyPromise.then(zoomToTileset);
            }
        }

        function checkboxOnclick2(checkbox) {

            if (checkbox.checked == true) {
                //viewer.scene.primitives.add(tileset_business);
                // tileset.readyPromise.then(zoomToTileset);

                tileset_business.readyPromise.then(function(tileset_business) {
                    viewer.scene.primitives.add(tileset_business);
                    //viewer.zoomTo(tileset, new Cesium.HeadingPitchRange(0.5, -0.2, tileset.boundingSphere.radius * 1.0));
                    viewer.camera.flyTo({
                        destination: Cesium.Cartesian3.fromDegrees(106.7159, 26.5744, 4200.0)
                    });
                }).otherwise(function(error) {
                    console.log(error);
                });
                tileset_business.style = new Cesium.Cesium3DTileStyle({
                    color: {
                        conditions: [
                            ['${平均楼层} >= 30 ', 'rgb(224, 226, 238)'],
                            ['${平均楼层} >= 12 && ${平均楼层} <29', 'rgb(224, 226, 238)'],
                            ['${平均楼层} >= 7 && ${平均楼层} <12', 'rgb(252, 230, 200)'],
                            ['${平均楼层} >= 3 && ${平均楼层} <7', 'rgb(248, 176, 87)'],
                            ['${平均楼层} >= 1 && ${平均楼层} < 3', 'rgb(198, 106, 11)'],
                            ['true', 'rgb(127, 59, 8)']
                        ]
                    }
                });
                tileset_business.show = true;
            } else {
                tileset_business.show = false;
                //tileset.readyPromise.then(zoomToTileset);
            }
        }

        function checkboxOnclick3(checkbox) {

            if (checkbox.checked == true) {
                //viewer.scene.primitives.add(tileset_house);
                // tileset.readyPromise.then(zoomToTileset);
                tileset_house.readyPromise.then(function(tileset_house) {
                    viewer.scene.primitives.add(tileset_house);
                    viewer.camera.flyTo({
                        destination: Cesium.Cartesian3.fromDegrees(106.7159, 26.5744, 4200.0)
                    });
                    //viewer.zoomTo(tileset, new Cesium.HeadingPitchRange(0.5, -0.2, tileset.boundingSphere.radius * 1.0));
                }).otherwise(function(error) {
                    console.log(error);
                });
                tileset_house.style = new Cesium.Cesium3DTileStyle({
                    color: {
                        conditions: [
                            ['${平均楼层} >= 30 ', 'rgb(224, 226, 238)'],
                            ['${平均楼层} >= 12 && ${平均楼层} <29', 'rgb(224, 226, 238)'],
                            ['${平均楼层} >= 7 && ${平均楼层} <12', 'rgb(252, 230, 200)'],
                            ['${平均楼层} >= 3 && ${平均楼层} <7', 'rgb(248, 176, 87)'],
                            ['${平均楼层} >= 1 && ${平均楼层} < 3', 'rgb(198, 106, 11)'],
                            ['true', 'rgb(127, 59, 8)']
                        ]
                    }
                });
                tileset_house.show = true;
            } else {
                tileset_house.show = false;
                //tileset.readyPromise.then(zoomToTileset);
            }
        }

        function checkboxOnclick4(checkbox) {

            if (checkbox.checked == true) {
                //viewer.scene.primitives.add(tileset_industry);
                // tileset.readyPromise.then(zoomToTileset);       
                tileset_industry.readyPromise.then(function(tileset_industry) {
                    viewer.scene.primitives.add(tileset_industry);
                    viewer.camera.flyTo({
                        destination: Cesium.Cartesian3.fromDegrees(106.7159, 26.5744, 4200.0)
                    });
                }).otherwise(function(error) {
                    console.log(error);
                });
                tileset_industry.style = new Cesium.Cesium3DTileStyle({
                    color: {
                        conditions: [
                            ['${平均楼层} >= 30 ', 'rgb(224, 226, 238)'],
                            ['${平均楼层} >= 12 && ${平均楼层} <29', 'rgb(224, 226, 238)'],
                            ['${平均楼层} >= 7 && ${平均楼层} <12', 'rgb(252, 230, 200)'],
                            ['${平均楼层} >= 3 && ${平均楼层} <7', 'rgb(248, 176, 87)'],
                            ['${平均楼层} >= 1 && ${平均楼层} < 3', 'rgb(198, 106, 11)'],
                            ['true', 'rgb(127, 59, 8)']
                        ]
                    }
                });
                tileset_industry.show = true;
            } else {
                tileset_industry.show = false;
                //tileset.readyPromise.then(zoomToTileset);
            }
        }

        function checkboxOnclick5(checkbox) {

            if (checkbox.checked == true) {
                //viewer.scene.primitives.add(tileset_village);
                // tileset.readyPromise.then(zoomToTileset);        
                tileset_village.readyPromise.then(function(tileset_village) {
                    viewer.scene.primitives.add(tileset_village);
                    viewer.camera.flyTo({
                        destination: Cesium.Cartesian3.fromDegrees(106.7159, 26.5744, 4200.0)
                    });
                    //viewer.zoomTo(tileset, new Cesium.HeadingPitchRange(0.5, -0.2, tileset.boundingSphere.radius * 1.0));

                }).otherwise(function(error) {
                    console.log(error);
                });
                tileset_industry.style = new Cesium.Cesium3DTileStyle({
                    color: {
                        conditions: [
                            ['${平均楼层} >= 30 ', 'rgb(224, 226, 238)'],
                            ['${平均楼层} >= 12 && ${平均楼层} <29', 'rgb(224, 226, 238)'],
                            ['${平均楼层} >= 7 && ${平均楼层} <12', 'rgb(252, 230, 200)'],
                            ['${平均楼层} >= 3 && ${平均楼层} <7', 'rgb(248, 176, 87)'],
                            ['${平均楼层} >= 1 && ${平均楼层} < 3', 'rgb(198, 106, 11)'],
                            ['true', 'rgb(127, 59, 8)']
                        ]
                    }
                });
                tileset_village.show = true;
            } else {
                tileset_village.show = false;
                //tileset.readyPromise.then(zoomToTileset);
            }
        }

        function checkboxOnclick6(checkbox) {

            if (checkbox.checked == true) {
                //viewer.scene.primitives.add(tileset_public);
                // tileset.readyPromise.then(zoomToTileset);        
                tileset_public.readyPromise.then(function(tileset_public) {
                    viewer.scene.primitives.add(tileset_public);
                    viewer.camera.flyTo({
                        destination: Cesium.Cartesian3.fromDegrees(106.7159, 26.5744, 4200.0)
                    });
                    //viewer.zoomTo(tileset, new Cesium.HeadingPitchRange(0.5, -0.2, tileset.boundingSphere.radius * 1.0));
                }).otherwise(function(error) {
                    console.log(error);
                });
                tileset_public.style = new Cesium.Cesium3DTileStyle({
                    color: {
                        conditions: [
                            ['${平均楼层} >= 30 ', 'rgb(224, 226, 238)'],
                            ['${平均楼层} >= 12 && ${平均楼层} <29', 'rgb(224, 226, 238)'],
                            ['${平均楼层} >= 7 && ${平均楼层} <12', 'rgb(252, 230, 200)'],
                            ['${平均楼层} >= 3 && ${平均楼层} <7', 'rgb(248, 176, 87)'],
                            ['${平均楼层} >= 1 && ${平均楼层} < 3', 'rgb(198, 106, 11)'],
                            ['true', 'rgb(127, 59, 8)']
                        ]
                    }
                });
                tileset_public.show = true;
            } else {
                tileset_public.show = false;
                //tileset.readyPromise.then(zoomToTileset);
            }
        }
        //viewer.scene.primitives.add(tileset);
        setTimeout(function() {
            viewer.camera.flyTo({
                destination: Cesium.Cartesian3.fromDegrees(106.7159, 26.5744, 4200.0)
            });
        }, 3000);

        /*
        tileset.readyPromise.then(function (tileset) {
            viewer.scene.primitives.add(tileset);
            //viewer.zoomTo(tileset, new Cesium.HeadingPitchRange(0.5, -0.2, tileset.boundingSphere.radius * 1.0));
        }).otherwise(function (error) {
            console.log(error);
        });
        tileset.style = new Cesium.Cesium3DTileStyle({
            color: {
                conditions: [
                    ['${lc} >= 30 ', 'rgb(224, 226, 238)'],
                    ['${lc} >= 12 && ${lc} <29', 'rgb(224, 226, 238)'],
                    ['${lc} >= 7 && ${lc} <12', 'rgb(252, 230, 200)'],
                    ['${lc} >= 3 && ${lc} <7', 'rgb(248, 176, 87)'],
                    ['${lc} >= 1 && ${lc} < 3', 'rgb(198, 106, 11)'],
                    ['true', 'rgb(127, 59, 8)']]
            }
        });
        */
        // HTML overlay for showing feature name on mouseover
        var nameOverlay = document.createElement("div");
        viewer.container.appendChild(nameOverlay);
        nameOverlay.className = "backdrop";
        nameOverlay.style.display = "none";
        nameOverlay.style.position = "absolute";
        nameOverlay.style.bottom = "0";
        nameOverlay.style.left = "0";
        nameOverlay.style["pointer-events"] = "none";
        nameOverlay.style.padding = "4px";
        nameOverlay.style.backgroundColor = "black";

        // Information about the currently selected feature
        var selected = {
            feature: undefined,
            originalColor: new Cesium.Color(),
        };

        // An entity object which will hold info about the currently selected feature for infobox display
        var selectedEntity = new Cesium.Entity();

        // 获取默认的左键单击处理程序，用于在左键单击时未拾取要素
        var clickHandler = viewer.screenSpaceEventHandler.getInputAction(
            Cesium.ScreenSpaceEventType.LEFT_CLICK
        );

        // 如果支持剪影，则鼠标上方的剪影功能为蓝色，鼠标单击的剪影功能为绿色
        // 如果不支持轮廓，请将特征颜色更改为鼠标悬停时为黄色，单击鼠标时为绿色
        if (Cesium.PostProcessStageLibrary.isSilhouetteSupported(viewer.scene)) {
            // 支持轮廓
            var silhouetteBlue = Cesium.PostProcessStageLibrary.createEdgeDetectionStage();
            silhouetteBlue.uniforms.color = Cesium.Color.BLUE; //蓝色
            silhouetteBlue.uniforms.length = 0.01;
            silhouetteBlue.selected = [];

            var silhouetteGreen = Cesium.PostProcessStageLibrary.createEdgeDetectionStage();
            silhouetteGreen.uniforms.color = Cesium.Color.LIME;
            silhouetteGreen.uniforms.length = 0.01;
            silhouetteGreen.selected = [];

            viewer.scene.postProcessStages.add(
                Cesium.PostProcessStageLibrary.createSilhouetteStage([
                    silhouetteBlue,
                    silhouetteGreen,
                ])
            );

            // 在悬停时勾勒出蓝色的轮廓
            viewer.screenSpaceEventHandler.setInputAction(
                function onMouseMove(movement) {
                    // 如果先前高亮显示了某个要素，请撤消该高亮显示
                    silhouetteBlue.selected = [];

                    //点击新要素
                    var pickedFeature = viewer.scene.pick(movement.endPosition);
                    if (!Cesium.defined(pickedFeature)) {
                        nameOverlay.style.display = "none";
                        return;
                    }

                    //要素被点击，显示它的覆盖内容
                    nameOverlay.style.display = "block";
                    nameOverlay.style.bottom =
                        viewer.canvas.clientHeight - movement.endPosition.y + "px";
                    nameOverlay.style.left = movement.endPosition.x + "px";
                    var name = pickedFeature.getProperty("BIN");
                    nameOverlay.textContent = name;

                    // 突出显示尚未选定的功能
                    if (pickedFeature !== selected.feature) {
                        silhouetteBlue.selected = [pickedFeature];
                    }
                },
                Cesium.ScreenSpaceEventType.MOUSE_MOVEp
            );

            // 在信息框中显示选定内容和元数据
            viewer.screenSpaceEventHandler.setInputAction(function onLeftClick(movement) {
                    // 如果先前选择了某个特征，请撤消高亮显示
                    silhouetteGreen.selected = [];

                    // 点击新要素
                    var pickedFeature = viewer.scene.pick(movement.position);
                    if (!Cesium.defined(pickedFeature)) {
                        clickHandler(movement);
                        return;
                    }

                    // Select the feature if it's not already selected
                    if (silhouetteGreen.selected[0] === pickedFeature) {
                        return;
                    }

                    // 保存选定要素的原始颜色
                    var highlightedFeature = silhouetteBlue.selected[0];
                    if (pickedFeature === highlightedFeature) {
                        silhouetteBlue.selected = [];
                    }

                    // 高亮新选择要素
                    silhouetteGreen.selected = [pickedFeature];

                    // 设置要素信息框描述
                    var featureName = pickedFeature.getProperty("name");
                    selectedEntity.name = featureName;
                    selectedEntity.description =
                        'Loading <div class="cesium-infoBox-loading"></div>';
                    viewer.selectedEntity = selectedEntity;
                    selectedEntity.description =
                        '<table class="cesium-infoBox-defaultTable"><tbody>' +
                        "<tr><th>BIN</th><td>" +
                        pickedFeature.getProperty("BIN") +
                        "</td></tr>" +
                        "<tr><th>DOITT ID</th><td>" +
                        pickedFeature.getProperty("DOITT_ID") +
                        "</td></tr>" +
                        "<tr><th>SOURCE ID</th><td>" +
                        pickedFeature.getProperty("SOURCE_ID") +
                        "</td></tr>" +
                        "</tbody></table>";
                },
                Cesium.ScreenSpaceEventType.LEFT_CLICK);
        } else {
            // 不支持轮廓。相反，更改特征颜色
            // 有关当前突出显示的功能的信息
            var highlighted = {
                feature: undefined,
                originalColor: new Cesium.Color(),
            };

            // 鼠标移动显示黄色
            viewer.screenSpaceEventHandler.setInputAction(function onMouseMove(
                    movement
                ) {
                    // 如果先前高亮显示了某个要素，请撤消该高亮显示
                    if (Cesium.defined(highlighted.feature)) {
                        highlighted.feature.color = highlighted.originalColor;
                        highlighted.feature = undefined;
                    }
                    // 点击新要素
                    var pickedFeature = viewer.scene.pick(movement.endPosition);
                    if (!Cesium.defined(pickedFeature)) {
                        nameOverlay.style.display = "none";
                        return;
                    }
                    // 要素被点击，显示它的覆盖内容
                    nameOverlay.style.display = "block";
                    nameOverlay.style.bottom =
                        viewer.canvas.clientHeight - movement.endPosition.y + "px";
                    nameOverlay.style.left = movement.endPosition.x + "px";
                    var name = pickedFeature.getProperty("name");
                    if (!Cesium.defined(name)) {
                        name = pickedFeature.getProperty("id");
                    }
                    nameOverlay.textContent = name;
                    // Highlight the feature if it's not already selected.
                    if (pickedFeature !== selected.feature) {
                        highlighted.feature = pickedFeature;
                        Cesium.Color.clone(
                            pickedFeature.color,
                            highlighted.originalColor
                        );
                        pickedFeature.color = Cesium.Color.YELLOW;
                    }
                },
                Cesium.ScreenSpaceEventType.MOUSE_MOVE);

            //为所选内容上色并在信息框中显示元数据
            viewer.screenSpaceEventHandler.setInputAction(function onLeftClick(
                    movement
                ) {
                    // 如果先前选择了某个特征，请撤消高亮显示
                    if (Cesium.defined(selected.feature)) {
                        selected.feature.color = selected.originalColor;
                        selected.feature = undefined;
                    }
                    // 点击新要素
                    var pickedFeature = viewer.scene.pick(movement.position);
                    if (!Cesium.defined(pickedFeature)) {
                        clickHandler(movement);
                        return;
                    }
                    // Select the feature if it's not already selected
                    if (selected.feature === pickedFeature) {
                        return;
                    }
                    selected.feature = pickedFeature;
                    // Save the selected feature's original color
                    if (pickedFeature === highlighted.feature) {
                        Cesium.Color.clone(
                            highlighted.originalColor,
                            selected.originalColor
                        );
                        highlighted.feature = undefined;
                    } else {
                        Cesium.Color.clone(pickedFeature.color, selected.originalColor);
                    }
                    // Highlight newly selected feature
                    pickedFeature.color = Cesium.Color.LIME;
                    // Set feature infobox description
                    var featureName = pickedFeature.getProperty("name");
                    selectedEntity.name = featureName;
                    selectedEntity.description =
                        'Loading <div class="cesium-infoBox-loading"></div>';
                    viewer.selectedEntity = selectedEntity;
                    selectedEntity.description =
                        '<table class="cesium-infoBox-defaultTable"><tbody>' +
                        "<tr><th>BIN</th><td>" +
                        pickedFeature.getProperty("BIN") +
                        "</td></tr>" +
                        "<tr><th>DOITT ID</th><td>" +
                        pickedFeature.getProperty("DOITT_ID") +
                        "</td></tr>" +
                        "<tr><th>SOURCE ID</th><td>" +
                        pickedFeature.getProperty("SOURCE_ID") +
                        "</td></tr>" +
                        "<tr><th>Longitude</th><td>" +
                        pickedFeature.getProperty("longitude") +
                        "</td></tr>" +
                        "<tr><th>Latitude</th><td>" +
                        pickedFeature.getProperty("latitude") +
                        "</td></tr>" +
                        "<tr><th>Height</th><td>" +
                        pickedFeature.getProperty("height") +
                        "</td></tr>" +
                        "<tr><th>Terrain Height (Ellipsoid)</th><td>" +
                        pickedFeature.getProperty("TerrainHeight") +
                        "</td></tr>" +
                        "</tbody></table>";
                },
                Cesium.ScreenSpaceEventType.LEFT_CLICK)
        };


        //< !--经纬度实时显示 -->
        var ellipsoid = viewer.scene.globe.ellipsoid;
        var longitude_show = document.getElementById('longitude_show');
        var latitude_show = document.getElementById('latitude_show');
        var altitude_show = document.getElementById('altitude_show');
        var canva = viewer.scene.canvas;
        handler.setInputAction(function(movement) { //捕获椭球体，将笛卡尔二维平面坐标转为椭球体的笛卡尔三维坐标，返回球体表面的点
            var cartesian = viewer.camera.pickEllipsoid(movement.endPosition, ellipsoid);
            if (cartesian) {
                //将笛卡尔三维坐标转为地图坐标（弧度）
                var cartographic = viewer.scene.globe.ellipsoid.cartesianToCartographic(cartesian);
                //将地图坐标（弧度）转为十进制的度数
                var lat_String = Cesium.Math.toDegrees(cartographic.latitude).toFixed(4);
                var log_String = Cesium.Math.toDegrees(cartographic.longitude).toFixed(4);
                var alti_String = (viewer.camera.positionCartographic.height / 1000).toFixed(2);
                longitude_show.innerHTML = log_String;
                latitude_show.innerHTML = lat_String;
                altitude_show.innerHTML = alti_String;
            }
        }, Cesium.ScreenSpaceEventType.MOUSE_MOVE);
    </script>
</body>

</html>